.contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
  }
  
  .contact-me span {
    margin: 0 10px;
    color: rgb(74, 74, 74);
  }
  
  .contact-me > span:hover {
    color: black;
  }
  .Education-container {
    /* background-color: #1f8ee0; */
    /* background-color: rgba(0, 0, 0, 0.326); */
    background-color: #afd9d5;
    background:linear-gradient(#afd9d5, #4dcec1) ;
  
    padding: 40px;
  }
  .timeline-edu{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .container-edu{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation:  movedown 1s linear forwards;
    opacity: 0;
    text-align: left;
  }
  @keyframes movedown {
    0%{
        opacity: 1;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
  }
  .text-box-edu{
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }
  .left-container-edu{
    left: 0;
  }
  .right-continer-edu{
    left: 50%;
  }
  .container-edu .imgdiv{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(25 135 84);
    border-radius: 50%;
    right: -10.1px;
    top: 40px;
    z-index: 10;
  }

  .container-edu:nth-child(1){
    animation-delay: 0s;
  }
  .container-edu:nth-child(2){
    animation-delay: 1s;
  } 
  .container-edu:nth-child(3){
    animation-delay: 2s;
  }
  
  /* .container-edu img{
    position: absolute;
    width: 60%;
    border-radius: 50%;
    right: 10px;
    top: 18px;
  } */
  /* .right-continer-edu img{
    width: 60%;
    border-radius: 50%;
    right: -20px;
  } */
  .right-continer-edu .imgdiv{
    left: -10.1px;

  }
  .timeline-edu::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: rgb(25 135 84);
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 6s linear forwards;
  }
  @keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
  }
  .left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
  }
  .right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -14px;
  }

  @media screen and (max-width:600px){
    .timeline-edu{
        margin: 50px auto;

    }
    .timeline-edu::after{
        left: 31px;
    }
    .container-edu{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .right-continer-edu{
        left: 0;
    }
    .left-container-edu .imgdiv, .right-continer-edu .imgdiv{
        left: 9.9px;
    }
    .left-container-arrow,.right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -14px;
    }
    .text-box-edu{
        font-size: 13px;
    }
    .namelogo img{
        display: none;
    }
  }